<%- include('partials/header'); %> 
    <div class="page">
        <div class="header">
            <a href="http://localhost:3000/login" class="login-buttom">Sign in</a>
        </div>
        <div class="main">
            <div class="channel-bar">
                <div class="bar English">
                    <img src="../public/images/uk_flag.png" alt="United Kingdom Flag">
                        <div class="channel eng1">
                            ENG 1
                        </div>
                        <div class="channel eng2">
                            ENG 2
                        </div>
                        <div class="channel eng3">
                            ENG 3
                        </div>
                        <div class="channel eng4">
                            ENG 4
                        </div>
                </div>
                <div class="bar Japanese">
                    <img src="../public/images/jp_flag.jpeg" alt="Japanese Flag">
                    <div class="channel jpn3">
                        JPN 4
                    </div>
                    <div class="channel jpn3">
                        JPN 3
                    </div>
                    <div class="channel jpn2">
                        JPN 2
                    </div>
                    <div class="channel jpn1">
                        JPN 1
                    </div>
                </div>
            </div>
            <div class="main-chat">
                <div class="messages">
                </div>
                <div class="chat-enter-box">
                </div> 
            </div>
            <div class="users">
            </div>
        </div>
    </div>
<%- include('partials/footer'); %>
