<%- include('partials/header'); %> 
    <div class="page">
        <div class="header">
            <a href="http://localhost:3000/login" class="login-buttom">Sign in</a>
        </div>
        <div class="main">
            <div class="channel-bar">
                <div class="bar English">
                    <img src="../public/images/uk_flag.png" alt="United Kingdom Flag">
                </div>
                <div class="bar Japanese">
                    <img src="../public/images/jp_flag.jpeg" alt="Japanese Flag">
                </div>
            </div>
            <div class="main-chat"> 
            </div>
            <div class="users">
            </div>
        </div>
    </div>
<%- include('partials/footer'); %>
