<%- include('partials/header'); %> 
    <div class="page">
        <div class="middle-holder">
            <div class="middle">
                <div class="middle-header">Welcome Back</div>
                <form class="login-form" action="/login" method="post">
                    <input type="email" name="email" placeholder="Email">
                    <input type="password" name="password" placeholder="Password">
                    <button type="submit">Login</button>
                    <% if (locals.errors && locals.errors.login) { %>
                        <% locals.errors.login.forEach(function(error) { %>
                            <p class="alert alert-primary" role="alert"><%= error %></p>
                        <% }) %>
                    <% } %>
                </form>
                <a href="http://localhost:3000/register" class="go-register">Create Account</a>
            </div>
        </div>
    </div>
<%- include('partials/footer'); %>
