body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: #00B7FF;
}

a i {
  margin-right: 0.4rem;
}
.error404{
  text-align: center;
}

.error404 h1{
  width: 100%;
  font-size: 30rem;
  font-weight: bold;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.66);
}

.page {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 100%;
}

.header {
  display: flex;
  background: #3B3B3B;
  color: black;
  width: 100%;
  height: 10%;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.login-buttom {
  display: flex;
  width: 10%;
  height: 50%;
  justify-content: center; 
  align-items: center;
  margin-right: 20px;
  color: black;
  background: #DADADA;
}

.channel-bar {
  display: flex;
  width: 15%;
  height: 100%;
  flex-direction: column;
  background-color: black;
}

.bar {
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: column;
}

.channel {
  display: flex;
  width: 100%;
  height: 25%;
  align-items: center;
  justify-content: center;
  color: red;
}

.middle-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.middle {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  height: 50%;
  width: 50%;
  align-items: center;
  background-color: #DADADA;
}

.middle-header {
  display: flex;
  margin: 5px;
  background-color: #787878;
  align-items: center;
  justify-content: center;
  color: black;
  width: 90%;
  height: 15%;
}

.login-form {
  display: inline-block;

}

.go-register {
  width: 50%;
  height: 10%;
}

.main-chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 70%;
  height: 100%
}

.messages {
  display: flex;
  width: 100%;
  height: 90%;
  background-color: #DADADA;
}

.users {
  display: flex;
  width: 15%;
  height: 100%;
  flex-direction: column;
  background-color: black;
}

.chat-enter-box {
  display: flex;
  background-color: darkcyan;
  height: 10%;
  width: 100%;
}

.displayname {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
}

.account-main {
  flex-direction: column;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.account-form {
  display: flex;
  flex-direction: column;
  width: 50%
}
